# This is Git's per-user configuration file.
[user]
	name = Keith Whitley
	email = whitleykeith@github.com
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
